<div class="about" [appScrollSection]="layoutData.navigation.link">
  <div class="content-inner">
      <div class="content-header">
          <h2>About Me</h2>
      </div>
      <div class="row align-items-center">
          <div class="col-md-6 col-lg-5">
              <img src="assets/img/about.jpg" alt="Image">
          </div>
          <div class="col-md-6 col-lg-7">
              <p>{{contentData.text}}</p>
              <a class="btn" appScrollAnchor="contact">Hire Me</a>
          </div>
      </div>
    
        <app-skill [skillData] = "contentData.skills"> </app-skill>

  </div>
