 <div class="portfolio-wrap">
      <figure>
          <img [src]="photoDescription.image" class="img-fluid" alt="">
          <a [href]="photoDescription.link" data-lightbox="portfolio" data-title="Project Name" class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
          <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
          <a class="portfolio-title" href="#">{{photoDescription.projectName}} <span>{{photoDescription.domain}}</span></a>
      </figure>
  </div>

